{% extends 'base.html' %}

{% block title %}
| Specializations
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Check doctors with specialization</h1>
  </div>

<form>
  <label for="specialization">Choose a specialization:</label>
  <select name="specialization" id="specialization" onchange="fetchDoctors()">
    {% for item in DATA %}
    <option value="{{ item.specialization_id }}">{{ item.name }}</option>
    {% endfor %}
  </select>
</form>

<br>
<br>
<div id="doctor-list">
    <ul></ul>
  </div>
  

<script>
function fetchDoctors() {
  const specializationId = document.getElementById('specialization').value;
  $.ajax({
    url: '/fetch_doctors_with_specialization/',
    method: 'POST',
    data: {
      specialization_id: specializationId,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function(response) {
        $('#doctor-list ul').empty();
        // Loop through response data and append list item for each doctor
        const listheading = '<h5>Doctor Name — Hospital</h5>'
        $('#doctor-list ul').append(listheading);
        $.each(response.data, function(index, doctor) {
            const listItem = $('<li>').text(' Dr. '+doctor.doctor_name + ' works at ' + doctor.hospital_name);
            $('#doctor-list ul').append(listItem);
        });

    },
    error: function(xhr, status, error) {
      console.error(error);
      // Show error message
    }
  });
}
</script>

{% endblock %}
